body {
    margin: 0;
    padding: 0;
}
.dash-board {
    height: 610px;
    width: 300px;
    background-color: #000;
}
.dash-board img {
    padding: 10px;
   
}
.dash-board p {
    color: white;
    font-size: 20px;
    padding-left: 5px;
}