body {
    margin: 0;
    padding: 0;
}
.dash-board {
    height: 610px;
    width: 300px;
    background-color: #000;
}
.dash-board img {
    padding: 10px;
   
}
/* .first-content {
    color: white;
    /* font-size: 20px; */
    /* text-align: right;
} */
 .first-logo p{
    color: white;
    padding-left: 20px;
    display: flex;
    
 }