body {
    margin: 0;
    padding: 0;
}
.dash-board {
    height: 610px;
    width: 300px;
    background-color: #000;
    display: flex;
    flex-direction: row;
}
.dash-board img {
    padding: 10px;
   
}
.first-logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.label {
    position: relative;
    top: 8px;
    color: white;
    font-size: 20px;
    text-align: right;
    /* display: flex;
    flex-direction: row; */
}
.second-logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.label {
    position: relative;
    top: 8px;
    color: white;
    font-size: 20px;
    text-align: right;
    /* display: flex;
    flex-direction: row; */
}
.third-logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.label {
    position: relative;
    top: 8px;
    color: white;
    font-size: 20px;
    text-align: right;
    /* display: flex;
    flex-direction: row; */
}
.fourth-logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.label {
    position: relative;
    top: 8px;
    color: white;
    font-size: 20px;
    text-align: right;
    /* display: flex;
    flex-direction: row; */
}
.fifth-logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.label {
    position: relative;
    top: 8px;
    color: white;
    font-size: 20px;
    text-align: right;
    /* display: flex;
    flex-direction: row; */
}
.sixth-logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.label {
    position: relative;
    top: 8px;
    color: white;
    font-size: 20px;
    text-align: right;
    /* display: flex;
    flex-direction: row; */
}