body {
    margin: 0;
    padding: 0;
}

.top-links {
    height: 45px;
    background-color: #173456;
    color: #fff;
    text-transform: uppercase;
    padding-left: 60px;
}
.upper-section {
    height: 150px;
    background-color: lightpink;

}