body {
    margin: 0;
    padding: 0;
}

.top-links {
    height: 45px;
    background-color: #173456;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
    display: block;
}

.menu-content {
    float: inline-end;
}

.images img {
    border: 1px solid white;
    border-radius: 50%;
}

.upper-section {
    height: 150px;
    background-color: lightpink;
    padding-left: 40px;
}

.name-section {
    text-transform: uppercase;
    font-size: 25px;
    padding: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
}
.text {
    font-size: 15px;
    font-weight: bold;
    padding-top: 12px;
    text-align: justify;
}
.blink-text {
    height: 40px;
    background-color: #173456;
    color: #fff;
    text-align: center;
    font-size: 23px;
    padding-top: 3px;
    font-family: cursive;
    animation: blink 2s linear infinite;
    
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

.navbar-expand-lg {
        height: 45px;
        background-color: #7952B3;
        color: #fff!important;
        padding-top: 10px;
        
        
}   
 .dropdown-toggle {
    color: #fff!important;
 }
 .announce-ment {
    height: 45px;
    background-color: #F9AB03;
    padding-left: 10px;
 }
 .announce-ment p {
    display: inline;
    font-size: 15px;
    font-weight: bold;
 }
.principals-desk {
    height: 450px;
    background-color: #EEEEEE;
    margin-top: 10px!important;
}
.principals-desk img {
    padding-top: 50px;
    padding-right: 55px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
